html {
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    
	
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
    color: grey;
  }

  /* ///////////////////////////////////////////// INICIO DEL ENCABEZADO ///////////////////////////////////////////// */


  .header{
	width: 100%;
	height: 77px;
	background-color: rgb(92, 92, 92);
	transition: all 0.3s ease;
	border-bottom: 3px double black;
	scrollbar-width: none;
	
}

.header:hover {
	background-color: rgb(255, 81, 0);
	border-bottom: 5px white;
	border-bottom-style: ridge;
	width: 100%;
	height: 90px;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.container .btn-menu, .logo{
	float: left;
	line-height:100px;
}

.container .btn-menu label{
	position: sticky;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.logo h1{
	position: sticky;
	color: #fff;
	font-weight: 400;
	font-size: 30px;
	margin-left: 10px;
}

.container .menu{
	position: sticky;
	float: right;
	line-height: 100px;
}

.container .menu a{
	position: sticky;
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid #c7c7c7;
	border-top: 3px solid #c7c7c7;
	font-size: 15px;
	margin-right: 5px;
}

.container .menu a:hover{
	position: sticky;
	border-bottom: 3px solid #c7c7c7;
	border-left: 3px solid #c7c7c7;
	border-right: 3px solid transparent;
	border-top: 3px solid transparent;
	padding-bottom: 5px;
}

.A1:hover{
	background-color: #04e70f;
}

.A2:hover{
	background-color: #ec1010;
}

.A3:hover{
	background-color: #04b2e7;
}

.A4:hover{
	background-color: #e704c9;
}

  /* ///////////////////////////////////////////// FIN DEL ENCABEZADO ///////////////////////////////////////////// */

/* ///////////////////////////////////////////// INICIO MENU LATERAL ///////////////////////////////////////////// */

#btn-menu{
	display: none;
	position: sticky;
}

.container-menu{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100px;
	top: 0;left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}

.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #110D0D;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}

.cont-menu nav{
	transform: translateY(15%);
}

.cont-menu nav a{
	display: block;
	padding: 20px;
	padding-left: 40px;
	color: #ffffff;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.n1:hover{
	border-left: 35px solid #04e70f;
	background: #15ff0033;
	color: black;
	text-decoration: none;
	list-style: none;
}

.n2:hover{
	border-left: 35px solid #ec1010;
	background: #ec101041;
	color: black;
	text-decoration: none;
	list-style: none;
}

.n3:hover{
	border-left: 35px solid #04b2e7;
	background: #04b2e73a;
	color: black;
	text-decoration: none;
	list-style: none;
}

.n4:hover{
	border-left: 35px solid #e704c9;
	background: #e704c93a;
	color: black;
	text-decoration: none;
	list-style: none;
}
.cont-menu nav a:hover{
	color: #000000;
}

.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: rgb(255, 136, 0);
	cursor: pointer;
	font-size: 25px;
}

/* ///////////////////////////////////////////// FIN DE MENU LATERAL ///////////////////////////////////////////// */


/* ///////////////////////////////////////// COMIENZO DE CONTENIDO PRINCIPAL ///////////////////////////////////////// */


.titulo {
	color: white;
	font-size: 40px ;
	text-align: center;
	border-bottom-style: double;
	border-top-style: double;
	border-color: antiquewhite;
	padding-bottom: 20px;
	padding-top: 20px;
	letter-spacing: 3px;
  }

  #listaDePaginas  {
	margin-left: 320px;
	margin-right: 300px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	letter-spacing: 40px;
	padding: 1em;
	text-decoration: none;
	list-style: none;
  }

  #listaDePaginas a  {

	font-size: small;
}


  #listaDePaginas a  {
	width: 100%;
	letter-spacing: 15px;
	padding-left: 8px;
	padding-right: 8px;
	letter-spacing: 20px;
	list-style: none;
	text-decoration: none;
	color: rgb(203, 233, 31);
	font-size: x-large;
	font-family: cursive;
	margin-left: 20px;
  }

  #listaDePaginas a:hover {
	text-decoration: wavy;
	list-style: none;
	color: rgb(141, 141, 141);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .card {
	background-color: rgba(0, 0, 0, 0.671);
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	width: 250px;
	height: 380px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	box-sizing: 250px;
	color: #c7c7c7;
  }

  .card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }

  .contenedor-tarjetas {
	margin: 35px auto;
	width: 789px;
  }

/* inicio del grid del id #grids de la linea 42 del hatml index.html y en los html de tiendas*/

  #grids {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
  }

  /* fin del grid del id #grids */



  .parrafo-inferior {
	color: white;
	border-bottom-style: double;
	border-top-style: double;
	border-color: antiquewhite;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 20px ;
	text-align: center;
	line-height: 80px;
	letter-spacing: 3px;
  }

  .listado {
	padding-top: 45px;
	padding-bottom: 45px;
	color: white;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
	list-style: none;
	font-size: x-large;
	letter-spacing: 1px;
  }

  .hover:hover {
	color: coral;
	font-size: 35px;
  }

/* ///////////////////////////////////////// FIN DEL CONTENIDO PRINCIPAL ///////////////////////////////////////// */


/* ////////////////////////////////////// COMIENZO DE FORMULARIO INICIO CONTACTO ////////////////////////////////////// */
	.form-register {
   width: 400px;
   background: #d40000af;
   padding: 10px;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 4px;
   font-family: 'calibri';
   color: white;
   text-align: center;
   box-shadow: 1px 13px 37px rgb(148, 148, 148);
   padding-bottom: 15px;
   transition: all 2s ease;
   border-top: 3px solid white;
 }

 .form-register:hover {
	width: 550px;
	background: #ca3d3d;
	padding: 10px;
	font-family: 'calibri';
	color: white;
	text-align: center;
	box-shadow: 1px 13px 37px rgba(116, 184, 204, 0.445);
	padding-bottom: 15px;
	border: 2px solid white;
  }

 .form-register h4 {
   font-size: 15px;
   margin-bottom: 10px;
   padding-bottom: 30px;
 }

 .controls {
   width: 100%;
   background: #2c4247;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid #8bff5d;
   font-family: 'calibri';
   font-size: 18px;
   color: white;
 }

 .form-register p {
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
 }

.form-register a {
   color: white;
   text-decoration: none;
}

.form-register a:hover {
	color: white;
	text-decoration: underline;
 }

 .form-register .botons {
   width: 50%;
   background: #1a3629;
   border: none;
   padding: 5px;
   color: #ff06d6;
   margin: 50px 0;
   font-size: 16px;
   transition: all 1s ease;
 }

 .form-register .botons:hover {
	width: 35%;
	background: #ff5100;
	border: none;
	padding: 5px;
	color:  #000000;
	margin: 50px 0;
	font-size: 16px;
	border-radius: 25px;
	border: 2px solid #c7c7c7;
  }

 /* ////////////////////////////////////// FIN DE FORMULARIO INICIO CONTACTO ////////////////////////////////////// */

/* /////////////////////////////////////////////// INICIO DEL FOOTER /////////////////////////////////////////////// */

 .footer {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  font-style: italic;
  font-size: medium;
  background-color: rgba(138, 134, 132, 0.329);
  background-attachment: contain;
  color: rgb(0, 0, 0);
  text-decoration-line: none;
  list-style: none;
  transition: all 2s ease;
  border-top: 3px solid white;
 }

 .footer:hover {
  width: 100%;
  border-bottom: 3px solid white;
  border-top: 3px solid transparent;
  background-color: rgba(255, 81, 0, 0.425);
 }

 .caja {
  display: flex;
  justify-content: space-around;
  text-decoration-line: none;
  list-style: none;
  text-decoration: none;
  list-style: none;
 }

 .caja ul {
	 padding-left: 50px;
	 list-style: none;
	 text-decoration: none;
	 color: black ;
 }

 .medias {
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;

 }

 .redes {
  align-items: bottom;
  width: 50px;
  height: 50px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-top: 20px;
}

/* /////////////////////////////////////////////// FIN DEL FOOTER /////////////////////////////////////////////// */






/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */
/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */
/* /////////////////////////////////////////////    MEDIA  QUERIES    ///////////////////////////////////////////// */
/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */
/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */






/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */
/* /////////////////////////////////////////////    TABLETS (800PX)   ///////////////////////////////////////////// */
/* /////////////////////////////////////////////----------------------///////////////////////////////////////////// */





@media only screen and (max-width: 900px) {
	/*Tablets [426px -> 600px]*/
		 /* ///////////////////////////////////////////// INICIO DEL ENCABEZADO ///////////////////////////////////////////// */



		 .header{
			width: 100%;
			height: 60px;
			background-color: rgb(60, 133, 0);
			border-bottom: 5px white;
			border-bottom-style: double;
			scrollbar-width: none;
		}

		.container{
			width: 100%;
			max-width: 1200px;
			margin: auto;
		}

		.container .btn-menu, .logo{
			float: left;
			line-height: 50px;
			margin-left: 10px;
			margin-right: 1vh;
		}

		.container .btn-menu label{
			position: sticky;
			color: rgb(0, 0, 0);
			font-size: 25px
		}

		.logo h1{
		font-size: medium;
		}

		.container .menu{
			float: right;
			right: 20px;
			line-height: 50px;
			margin-left: 10px;
		}

		.container .menu a{
			position: sticky;
			display: inline-block;
			padding: 1px;
			line-height: normal;
			text-decoration: none;
			color: #fff;
			border-right: 3px solid #00000083;
			border-top: 3px solid #00000080;
			font-size: 13px;
			margin-right: 3px;
		}

		.A1{
			background-color: #04e70f88;
		}

		.A2{
			background-color: #ec10108e;
		}

		.A3{
			background-color: #04b2e78c;
		}

		.A4{
			background-color: #e704c98a;
		}

		/* ///////////////////////////////////////////// FIN DEL ENCABEZADO ///////////////////////////////////////////// */

		/* ///////////////////////////////////////////// INICIO MENU LATERAL ///////////////////////////////////////////// */

		#btn-menu{
			display: none;
			position: sticky;
		}

		.container-menu{
			background: #B8BAB8;
			width: 30%;
			height: 30px;
			top: 0;
			left: 0;
			transition: all 500ms ease;
			opacity: 0;
			visibility: hidden;
		}

		#btn-menu:checked ~ .container-menu{
			opacity: 1;
			visibility: visible;
		}

		.cont-menu{
			width: 100%;
			max-width: 250px;
			background: #050a05;
			height: 100px;
			position: relative;
			transition: all 500ms ease;
			transform: translateX(-100%);
		}

		#btn-menu:checked ~ .container-menu .cont-menu{
			transform: translateX(0%);
			background-color: rgb(255, 255, 255);
		}

		.cont-menu nav{
			transform: translateY(15%);
			background-color: rgb(255, 255, 255);
		}

		.cont-menu nav a{
			display: block;
			padding: 20px;
			padding-left: 40px;
			color: #000000;
		}

		.n1{
			border-left: 35px solid #04e70f;
		}

		.n2{
			border-left: 35px solid #ec1010;
		}

		.n3{
			border-left: 35px solid #04b2e7;
		}

		.n4{
			border-left: 35px solid #e704c9;
		}


		/* ///////////////////////////////////////////// FIN DE MENU LATERAL ///////////////////////////////////////////// */


		/* ///////////////////////////////////////// COMIENZO DE CONTENIDO PRINCIPAL ////////////////////////////////////// */


		.titulo {
			margin-top: 25px;
			color: white;
			font-size: 20px ;
			text-align: center;
			border-bottom-style: double;
			border-top-style: double;
			border-color: antiquewhite;
			padding-bottom: 20px;
			padding-top: 20px;
			letter-spacing: 3px;
			width: 100%;
		  }

		  #listaDePaginas  {
			margin-left: 1px;
			background-color: rgba(255, 0, 0, 0.342);
			border-top: 2px double gray;
			margin-top: 40px;
		  }

		  #listaDePaginas a  {
			width: 100%;
			letter-spacing: 15px;
			padding-left: 8px;
			padding-right: 8px;
			color: white;
			font-size: small;
		}

		  .card {
			background-color: rgba(0, 0, 0, 0.671);
			border: 1px solid black;
			border-radius: 10px;
			text-align: center;
			width: 250px;
			height: 380px;
			margin: 0 auto;
			display: grid;
			align-items: center;
			box-sizing: 250px;
			color: #c7c7c7;
		  }

		  .card img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		  }

		  .contenedor-tarjetas {
			width: 100%;
			height: 1250px;
			margin-bottom: -145px;
		  }

		/* inicio del grid del id #grids de la linea 42 del hatml index.html y en los html de tiendas*/

		  #grids {
			display: block;
			align-items: center;
			gap: 20px;
		  }

		  /* fin del grid del id #grids */


		  .pendiente {
			  width: 150px;
			  height: 150px;
		  }


		  .parrafo-inferior {
			color: white;
			border-bottom-style: double;
			border-top-style: double;
			border-color: antiquewhite;
			margin-top: 10em;
			padding-bottom: 10px;
			padding-top: 10px;
			font-size: 13px ;
			text-align: center;
			line-height: 80px;
			letter-spacing: 3px;
			background-color: #ff48007a;
			width: 100%;
		  }

		  .listado {
			padding-top: 45px;
			padding-bottom: 45px;
			text-align: center;
			padding-left: 20px;
			text-decoration: none;
			list-style: none;
			font-size: large;
			letter-spacing: 1px;
			color: rgba(89, 226, 10, 0.774);
		  }

		/* ///////////////////////////////////////// FIN DEL CONTENIDO PRINCIPAL ///////////////////////////////////////// */


		/* /////////////////////////////////////////////// INICIO DEL FOOTER /////////////////////////////////////////////// */


		.footer {
		  width: 100%;
		  padding-top: 30px;
		  padding-bottom: 10px;
		  justify-content: center;
		  color: rgb(206, 206, 206);
		  border-top: 3px solid white;
		  background-color: rgba(255, 0, 191, 0.288);
		  font-size: x-small;
		}

		.caja ul li  {
		  display: none;
		}

		#cajaDeRedes{
		  padding-left: 5px;
		  align-items: center;

		  
		  display: block;
		}

		.medias {
		  display: flex;
		}

		.redes {
		  display: inline-block;
		  align-items: center;
		  width: 25px;
		  height: 25px;
		}

		.copyright {
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
		  color: white;
		  padding-top: 15px;
		  font-size: 15px;
		}

		/* ///////////////////////////////////////////// FIN DEL FOOTER ///////////////////////////////////////////// */

	 }




/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// SMARTPHONE (425PX) //////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */






@media only screen and (max-width: 600px){
	/*Smartphones [325px -> 425px]*/
	 /* /////////////////////////////////////////// INICIO DEL ENCABEZADO /////////////////////////////////////////// */



	 .header{
			width: 100%;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgb(60, 133, 0);
			border-bottom: 5px white;
			border-bottom-style: double;
		}

		.container{
			width: 100%;
			max-width: 1200px;
			margin: auto;
		}

		.container .btn-menu, .logo{
			float: left;
			line-height: 50px;
			margin-left: 10px;
			margin-right: 1vh;
		}

		.container .btn-menu label{
			position: sticky;
			color: rgb(0, 0, 0);
			font-size: 25px
		}

		.logo h1{
		font-size: medium;
		}

		.container .menu{
			float: right;
			right: 20px;
			line-height: 50px;
			margin-left: 10px;
		}

		.container .menu a{
			position: fixed;
			display: inline-block;
			padding: 1px;
			line-height: normal;
			text-decoration: none;
			color: #fff;
			border-right: 3px solid #00000083;
			border-top: 3px solid #00000080;
			font-size: 13px;
			margin-right: 3px;
		}

		.A1{
			background-color: #04e70f88;
		}

		.A2{
			background-color: #ec10108e;
		}

		.A3{
			background-color: #04b2e78c;
		}

		.A4{
			background-color: #e704c98a;
		}

		/* ///////////////////////////////////////////// FIN DEL ENCABEZADO ///////////////////////////////////////////// */

		/* ///////////////////////////////////////////// INICIO MENU LATERAL ///////////////////////////////////////////// */

		#btn-menu{
			display: none;
			position: sticky;
		}

		.container-menu{
			position: sticky;
			background: #B8BAB8;
			width: 35%;
			height: 30px;
			top: 0;
			left: 0;
			transition: all 500ms ease;
			opacity: 0;
			visibility: hidden;
		}

		#btn-menu:checked ~ .container-menu{
			opacity: 1;
			visibility: visible;
		}

		.cont-menu{
			width: 100%;
			max-width: 250px;
			background: #B8BAB8;
			height: 100px;
			position: relative;
			transition: all 500ms ease;
			transform: translateX(-100%);
		}

		#btn-menu:checked ~ .container-menu .cont-menu{
			transform: translateX(0%);
			background-color: rgb(255, 255, 255);
		}

		.cont-menu nav{
			transform: translateY(15%);
			background-color: rgb(255, 255, 255);
		}

		.cont-menu nav a{
			display: block;
			padding: 20px;
			padding-left: 40px;
			color: #000000;
		}

		.n1{
			border-left: 35px solid #04e70f;
		}

		.n2{
			border-left: 35px solid #ec1010;
		}

		.n3{
			border-left: 35px solid #04b2e7;
		}

		.n4{
			border-left: 35px solid #e704c9;
		}


		/* ///////////////////////////////////////////// FIN DE MENU LATERAL ///////////////////////////////////////////// */


		/* ///////////////////////////////////////// COMIENZO DE CONTENIDO PRINCIPAL ////////////////////////////////////// */


		.titulo {
			margin-top: 25px;
			color: white;
			font-size: 20px ;
			text-align: center;
			border-bottom-style: double;
			border-top-style: double;
			border-color: antiquewhite;
			padding-bottom: 20px;
			padding-top: 20px;
			letter-spacing: 3px;
			width: 100%;
		  }

		  #listaDePaginas  {
			margin-left: 1px;
			background-color: rgba(255, 0, 0, 0.342);
			border-top: 2px double gray;
			margin-top: 40px;
		  }

		  #listaDePaginas a  {
			width: 100%;
			letter-spacing: 15px;
			padding-left: 8px;
			padding-right: 8px;
			color: white;
			font-size: small;
		}

		  .card {
			background-color: rgba(0, 0, 0, 0.671);
			border: 1px solid black;
			border-radius: 10px;
			text-align: center;
			width: 250px;
			height: 380px;
			margin: 0 auto;
			display: grid;
			align-items: center;
			box-sizing: 250px;
			color: #c7c7c7;
		  }

		  .card img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		  }

		  .contenedor-tarjetas {
			width: 100%;
			height: 1250px;
			margin-bottom: -145px;
		  }

		/* inicio del grid del id #grids de la linea 42 del hatml index.html y en los html de tiendas*/

		  #grids {
			display: block;
			align-items: center;
			gap: 20px;
		  }

		  /* fin del grid del id #grids */


		  .pendiente {
			  width: 150px;
			  height: 150px;
		  }


		  .parrafo-inferior {
			color: white;
			border-bottom-style: double;
			border-top-style: double;
			border-color: antiquewhite;
			margin-top: 10em;
			padding-bottom: 10px;
			padding-top: 10px;
			font-size: 13px ;
			text-align: center;
			line-height: 80px;
			letter-spacing: 3px;
			background-color: #ff48007a;
			width: 100%;
		  }

		  .listado {
			padding-top: 45px;
			padding-bottom: 45px;
			text-align: center;
			padding-left: 20px;
			text-decoration: none;
			list-style: none;
			font-size: large;
			letter-spacing: 1px;
			color: rgba(89, 226, 10, 0.774);
		  }

		/* ///////////////////////////////////////// FIN DEL CONTENIDO PRINCIPAL ///////////////////////////////////////// */


		/* /////////////////////////////////////////////// INICIO DEL FOOTER /////////////////////////////////////////////// */


		.footer {
		  width: 100%;
		  padding-top: 30px;
		  padding-bottom: 10px;
		  justify-content: center;
		  color: rgb(206, 206, 206);
		  border-top: 3px solid white;
		  background-color: rgba(255, 0, 191, 0.288);
		  font-size: x-small;
		}

		.caja ul li  {
		  display: none;
		}

		#cajaDeRedes{
		  padding-left: 5px;
		  align-items: center;

		  
		  display: block;
		}

		.medias {
		  display: flex;
		}

		.redes {
		  display: inline-block;
		  align-items: center;
		  width: 25px;
		  height: 25px;
		}

		.copyright {
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
		  color: white;
		  padding-top: 15px;
		  font-size: 15px;
		}

		/* ///////////////////////////////////////////// FIN DEL FOOTER ///////////////////////////////////////////// */

	 }